html {
  background-color: burlywood;
}

body {
  background-color: rgb(255, 255, 255);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 0px;
  font-family: sans-serif;
}

h1#sitetitle {
  color: brown;
  font-weight: 900;
}

h2.recipepart {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-left: 10px solid grey;
  padding: 10px 0px 8px 10px;
}

h2.ingredients {
  border-left-color: #F39C12;
}

h2.method {
  border-left-color: #E67E22;
}

h2.variations {
  border-left-color: #D35400;
}

a {
  color: #2f4f4f;
  text-decoration: none;
  background-color: #FDEBD0;
  padding: 2px 4px;
  border-bottom: 2px dashed #ffb6c1;
}

.mufinka {
  width: 750px;
  display: block;
  margin: auto;
}

.cake {
  width: 750px;
  margin: auto;
}

a:visited {
  color: #778899;
}

a:focus {
  border: 3px dashed #ffb6c1;
}

a:hover {
  border-bottom: 3px solid #ffb6c1;
}

a:active {
  color: purple;
  border: 3px solid #ffb6c1;
}

div.container {
  padding: 0px 20px;
}

span.temp {
  font-weight: bold;
  border: 2px solid red;
  background-color: pink;
  border-radius: 15px;
  padding: 5px 8px 4px 8px;
}

.twixt>li {
  margin: 0px;
  list-style-type: none;
}

.twixt>li:before {
  color: brown;
  content: "≬";
  font-size: 25px;
  margin: 5px;
}

.ingredients>li {
  margin: 0px;
  list-style-type: none;
}

.ingredients>li:before {
  color: #F39C12;
  content: "↠";
  font-size: 20px;
  margin: 5px;
}

.method>li {
  margin: 0px;
  list-style-type: none;
}

.method>li:before {
  color: #E67E22;
  content: "✶";
  margin: 5px;
}

.variations>li {
  margin: 0px;
  list-style-type: none;
}

.variations>li:before {
  color: #D35400;
  content: "≻";
  margin: 5px;
}
